
.gantt-chart {
    display: flex;
    flex-direction: column;
    /*gap: 8px;*/
}

.gantt-chart-row {
    display: grid;
    grid-template-areas: 'task-names timeline forecasted-risk';
    grid-template-columns: 15% auto 15%;
}

.task-names {
    grid-area: task-names;
    background-color: lightslategray;
}

.timeline {
    grid-area: timeline;

}

.forecasted-risk {
    grid-area: forecasted-risk;

}
