@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/*Italic: 0*/
/*Weight: 100 – 700*/

header {
    background-color: #037571;
    color: aliceblue;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    padding: 0.25em;
}


