@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*#89ce6a #1f8539 #103d17*/
/*weight: 100-900*/
/*italic: 0-1*/

.body-grid {
    display: grid;
    grid-template-areas: 'nav-bar timeline';
    grid-template-columns: 50px auto;
    padding: 0.5em;
}

header {
    color: #2f2f2f;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0.25em;
}

.nav-bar {
    grid-area: nav-bar;
}

.timeline {
    grid-area: timeline;

}