
.navigation-bar {
    width: 30px;
    background-color: #b9b9b9;
    padding: 5px;
    row-gap: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
/*https://www.geeksforgeeks.org/css/svg-properties-in-css/*/

svg {
    width: 15px;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.toggled {
    fill: red;
}
